{% if ansible_hostname == 'Server1' %}
global_defs {
  router_id lb01
}

vrrp_script check_haproxy {
  script "/usr/bin/systemctl is-active --quiet haproxy"
  interval 2
  weight 2
}

vrrp_instance my-web {
    state MASTER
    interface eth1
    virtual_router_id 123
    priority 100
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass Otus2023
    }
    virtual_ipaddress {
        192.168.56.15
    }
    track_script {
    check_haproxy
  }
}

{% endif %}
{% if ansible_hostname == 'Server2' %}
global_defs {
  router_id lb02
}

vrrp_script check_haproxy {
#  script "/usr/bin/killall -0 haproxy"
  script "/usr/bin/systemctl is-active --quiet haproxy"
  interval 2
  weight 2
}

vrrp_instance my-web {
    state BACKUP
    interface eth1
    virtual_router_id 123
    priority 99
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass Otus2023
    }
    virtual_ipaddress {
        192.168.56.15
    }
    track_script {
    check_haproxy
  }
}
{% endif %}